---
layout: default
title: Blog
---

<section id="blog">
    <h2>Blog</h2>
    <ul class="post-list" style="list-style: none; padding: 0;">
        {% for post in site.posts %}
        <li style="margin-bottom: 20px;">
            <span class="post-meta" style="color: #666; font-size: 14px;">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3 style="margin: 5px 0;">
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            {% if post.excerpt %}
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</section>